.searches
  &__header
    display: flex
    flex-flow: row wrap
    justify-content: space-between
    background-color: rgba(0,0,0,0.8)
    color: #fff
    position: sticky
    top: 0
    padding: 10px
    overflow: hidden
  &__filter
    margin-left: 10px
  &__name
    width: 100%
    text-transform: uppercase
    margin: 10px 0
  &__term
    &:hover .searches__list
      height: 300px
      overflow: auto
  &__list
    transition: 0.4s
    height: 0
    overflow: hidden
  &__toggle, .search-result__toggle
    appearance: none
    opacity: 0.4
    transition: 0.2s
    &:after
      content: "👁"
      font-size: 1.4em
    &:checked
      opacity: 1

    &--term



option[value=""][disabled]
  display: none
