.searches
  background: gray
  overflow: auto
  &__header
    display: flex
    flex-flow: row wrap
    justify-content: space-between
    background-color: rgba(0,0,0,0.8)
    color: #fff
    position: sticky
    top: 0
    padding: 10px
    overflow: hidden
  &__filter
    margin-left: 10px
  &__name
    width: 100%
    text-transform: uppercase
    margin: 10px 0
  &__open
    position: absolute
    top: 10px
    right: 10px
    color: white
    appearance: none
    z-index: 1000
    //transition: 0.3s
    cursor: pointer
    &:hover
      color: white
    &:after
      content: "⯆"
      font-size: 2em
    &:checked
      color: white
    &:checked ~ .searches__list
      height: 70vh
      overflow: auto
  &__term
    position: relative
    &:hover .searches__list
      //height: 70vh
  &__list
    transition: 0.4s
    height: 0
    overflow: auto
  &__toggle, .search-result__toggle
    appearance: none
    opacity: 0.4
    transition: 0.2s
    &:after
      content: "👁"
      font-size: 1.4em
    &:checked
      opacity: 1


option[value=""][disabled]
  display: none
